@font-face {
    font-family: 'Jalnan';
    font-weight: normal;
    font-style: normal;
    src: url('../font/Jalnan/Jalnan.woff') format('woff'),
		url('../font/Jalnan/Jalnan.woff2') format('woff2');
    font-display: swap;
}