@charset "utf-8";

/* reset css */
html,body{/*min-width:320px;*/margin:0;padding:0;height:100%}
html{-webkit-text-size-adjust:none;/*Chrome, Safari, newer versions of Opera*/-moz-text-size-adjust:none;/*Firefox*/-ms-text-size-adjust:none;/*Ie*/-o-text-size-adjust:none; /*old versions of Opera*/}
body{overflow-y:auto;font-size:14px;font-family:Noto Sans KR, '돋움', Dotum, 'Apple Gothic', sans-serif;color:#000;letter-spacing:-.02em;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th,button{font:14px/1 Noto Sans KR, '돋움', Dotum, 'Apple Gothic', sans-serif;color:#000;vertical-align:middle;font-weight:400;}
input,textarea,select{color:#000}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
ol,ul,li{list-style:none;}
hr, legend, .hidden{position:absolute;top:0;left:-9999px;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
caption{position:relative;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
.blind{overflow:hidden;position:absolute;left:-9999px !important;top:-9999px !important}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
address{font-style:normal;}
em{font-style:normal;font-weight:700}
strong{font-weight:normal;}
a:link,a:visited{color:#000;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
img{vertical-align:top;}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}
select::-ms-expand {display:none;}
input{border-radius:0;}
input[type=text],
input[type=number],
input[type=password],
input[type=tel],
textarea{-webkit-appearance:none;appearance:none;box-shadow:0 0;-moz-appearance:textfield;}
input::placeholder,
textarea::placeholder{color:#999;}
input:-ms-input-placeholder{color:#999;}
textarea:-ms-input-placeholder{color:#999;}
/*select:focus {outline:none;}*/
input:focus{outline:none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type=text]:foucs{border-bottom:1px solid #82308e !important;color:#82308e !important;}

img{max-width:100%}
.clearfix:after{content:'';display:block;clear:both;}
.hide{display:inline-block;text-indent:-9999px;position:absolute;left:-9999px;top:0}

/**/
:root{
	/*--gray100:#cecece;
	--gray900:#123456;*/

	--colorGray:#cecece;

	--pcInnerWidth:1200px;

	--tabletBreakPoint:720px;
	--moBreakPoint:640px;
}

[data-device="mo"]{display:none !important}

/**/
.dp_flex_ct{display:flex;justify-content:center;align-items:center;}


body *{box-sizing:border-box}
.inner{max-width:var(--pcInnerWidth);margin:0 auto}
.header .top_sch{display:flex;justify-content:space-between;align-items:center;max-width:var(--pcInnerWidth);padding:28px 12px;margin:0 auto;}
.header .top_sch h1{/*width:250px;flex-shrink:0*/}
.header .top_sch .search_box{display:flex;align-items:center;justify-content:space-between;/*width:522px;*/width:43.5%;height:52px;padding:0 30px;background:#f4f4f4;border-radius:25px;}
.header .top_sch .search_box input{display:block;width:100%;border:0 none;background:#f4f4f4;}
.header .top_sch .search_box .btn_search{flex-shrink:0;width:50px;text-align:center;}
.gnb{position:relative;border-top:1px solid var(--colorGray);border-bottom:1px solid var(--colorGray)}
.gnb.active:after{content:'';display:block;position:absolute;left:0;top:66px;z-index:100;width:100%;height:188px;background:#fff;border-top:1px solid var(--colorGray);box-shadow: 0 3px 6px rgb(0 0 0 / 16%);animation:bgOn .3s ease forwards;}
@keyframes bgOn {
	0% {opacity:0}
	100% {opacity:1}
}
.gnb .inner{display:flex;justify-content:center;}
.gnb .btn_gnb{width:75px;height:66px;background:#fff;border:0 none;}
.gnb .dep1_list{display:flex;flex:auto;border-left:1px solid var(--colorGray);}
.gnb .dep1_list > li{position:relative;width:25%}
.gnb .dep1_list > li > a{display:flex;align-items:center;justify-content:center;height:66px;border-right:1px solid var(--colorGray);}
.gnb .dep2_list{display:none;position:absolute;left:0;top:100%;z-index:999;width:100%;padding:10px 0;background:#fff;border-top:1px solid var(--colorGray);box-sizing:border-box;}
.gnb .dep2_list.active{display:block;border:1px solid var(--colorGray);}
.gnb .dep2_list > ul > li > a{display:block;padding:10px 25px;}
.gnb .util{display:flex;align-items:center;justify-content:center;width:190px;height:66px;}
.gnb .util > a{color:var(--colorGray)}
.gnb .util > a:first-child{padding:0 14px;margin-right:14px;border-right:1px solid var(--colorGray)}

.main_visual{border-bottom:1px solid var(--colorGray);}
.menu_list{display:flex;align-items:center;justify-content:center;margin:100px 0 90px;}
.menu_list li{width:20%;padding-top:170px;border-right:1px solid #c7c7c7;text-align:center}
.menu_list li:last-child{border-right:0 none}
.menu_list li .menu_tit{font-size:20px;font-family:'Jalnan';font-weight:700}
.menu_list li .txt{margin-top:10px}
.notice_area{overflow:hidden;display:flex;align-items:center;height:60px;border:1px solid #e4e4e4;border-radius:30px;}
.notice_area .tit_notice{display:inline-flex;justify-content:center;align-items:center;width:148px;height:100%;;background:#f8d155;font-family:'Jalnan';}
.notice_area > div{display:flex;justify-content:space-between;align-items:center;width:100%;height:60px;padding:0 30px;}
.service_area{display:flex;column-gap:15px;margin:40px 0 0;}
.service_area > a{width:50%}

.sub_tit{margin-bottom:110px;text-align:center;}
.sub_tit strong{color:#d7000f;font-family:'Jalnan'}
.sub_tit h2{font-size:40px;font-weight:700}

#content{padding:50px 0}
.login_wrap{max-width:540px;margin:0 auto}
.login_wrap .inp_box input{display:block;width:100%;height:50px;margin-bottom:20px;padding:0 20px;border:1px solid var(--colorGray);border-radius:25px}
.login_wrap .inp_check{margin:20px 0}
.login_wrap .join_sch{display:flex;align-items:center;justify-content:center;margin:20px 0;}

.join_wrap{max-width:740px;margin:0 auto}
.join_wrap .page_nav{display:flex;justify-content:space-between;padding-bottom:20px;margin-bottom:50px;border-bottom:1px solid #000}
.join_wrap .page_nav h3{font-size:20px}
.join_wrap .page_nav .num{display:inline-block;padding:5px 10px;border-radius:20px;font-family:'Jalnan';}
.join_wrap .page_nav .num.active{background:gray;color:#fff}
.join_wrap .all_chk{padding:20px 0;margin-bottom:20px;border-bottom:1px dashed gray}
.join_wrap .chk{display:flex;flex-direction:column;row-gap:10px;}

.join_form .input_field{display:flex;padding:5px 0}
.join_form .input_field > label{width:200px;flex-shrink:0;padding-top:15px;font-size:15px;font-weight:700}
.join_form .input_field label .required{color:red}
.join_form .input_field .inp_box{position:relative;display:flex;width:100%;/*flex-direction:column;*/row-gap:10px;}
.join_form .input_field .inp_box.flex_column{flex-direction:column;}
.join_form .input_field .inp_box.flex_warp{flex-wrap:wrap;}
.join_form .input_field .inp_box.col_gap{column-gap:10px;}
.join_form .input_field .inp_box input[type="text"],
.join_form .input_field .inp_box input[type="password"],
.join_form .input_field .inp_box select{display:block;width:100%;height:50px;padding:0 20px;border:1px solid gray;border-radius:10px;}
.join_form .input_field .inp_box .btn_auth{position:absolute;right:10px;top:10px;display:inline-block;padding:5px 10px;background:gray;border-radius:15px;color:#fff;}
.join_form .input_field .inp_box.phone .inp_box{flex:50%}


.join_complete h3{margin-bottom:10px;font-size:24px}
.join_complete h3 span{display:block;font-size:20px;}
.join_complete .join_box{display:flex;margin-top:50px;padding:50px 0;border-top:1px solid #000}
.join_complete .join_box > div{padding:0 30px;}
.join_complete .join_box .join_info{flex:0.5 1;border-right:1px dashed #999}
.join_complete .join_box .seed_info{flex:1 1;}
.join_complete .join_box .join_info ul li{margin-top:10px;}
.join_complete .join_box .join_info ul li:before{content:'';display:inline-block;width:3px;height:3px;margin-right:5px;border-radius:50%;background:red;verticla-align:middle}
.join_complete .join_box .seed_info ul li{padding-left:100px;font-family:'Jalnan'}
.join_complete .join_box .seed_info ul li + li{margin-top:30px}

.sch_type h3{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #000;font-size:20px;font-weight:700}
.sch_type .type_box{padding:30px 0}
.sch_type .category_wrap{display:flex;flex-wrap:wrap;gap:10px 10px}
.sch_type .inp_category{padding:0 10px;}
.sch_type .inp_category label{padding:0 10px;background:#fef4d8;border-radius:15px;}
.sch_type .inp_category input:checked + label{background:#f6aa58}

.book_list_wrap .txt_result{margin-bottom:10px;}
.book_list_wrap .book_list{display:flex;flex-wrap:wrap;gap:60px 30px;}
.book_list_wrap .item{width:calc(33.3% - 30px);padding:20px 0;border:1px solid gray;border-radius:20px;text-align:center}
.book_list_wrap .item .info{padding:10px 30px 0;margin-top:20px;border-top:1px dashed #999}
.book_list_wrap .item .info .detail{color:gray;padding:5px 0 10px}
.book_list_wrap .item .btns a{display:inline-block;padding:5px;border-radius:10px;color:#fff;}
.book_list_wrap .item .btns a.btn_preview{background:#82d1eb}
.book_list_wrap .item .btns a.btn_data{background:#7ddfa9}

.related_wrap{display:flex;}
.related_wrap > div{flex:1 1;}

.pagination{margin-top:30px;text-align:center}
.pagination ul{display:inline-flex;column-gap:10px;}
.pagination a{display:inline-flex;align-items:center;justify-content:center;width:30px;height:30px;border-radius:15px;font-family:'Jalnan'}
.pagination a.active{background:#f9d974;color:#fff}

.btn{display:flex;height:50px;align-items:center;justify-content:center;box-shadow: rgba(0, 0, 0, .1) 0px 10px 25px 0px;border-radius:25px;font-family:'Jalnan'}
.btn.btn_fill{background:linear-gradient(114deg, #f9d974, #f7cf50);}
.btn.btn_disabled{background:#fff;color:#c7c7c7}

.btn_confirm{display:flex;max-width:540px;margin:50px auto 0;column-gap:10px;justify-content:center;}
.btn_confirm .btn_fill{flex:1}
.btn_confirm .btn_disabled{width:30%;}

.floating_sns{position:fixed;right:20px;top:50%;z-index:999;padding:0 10px;transform:translate(0, -50%);background:yellow}
.floating_sns .sns li{width:50px;height:50px;border-bottom:1px solid #fff}
.floating_sns .sns li:last-child{border-bottom:0 none}
.floating_sns .sns li a{display:block;}


/**/
footer{padding-bottom:100px;background:#333}
footer .top_area{position:relative;display:flex;justify-content:space-between;margin-bottom:30px;padding:20px;border-bottom:1px solid #717171}
footer .nav{display:flex;min-width:500px;align-items:center;justify-content:space-between;}
footer .nav a{color:#fff;}
footer p{color:#fff}
footer .family_site{position:relative;flex-shrink:0;}
footer .family_site .btn_family{display:inline-flex;align-items:center;justify-content:space-between;height:30px;padding:0 10px;border-radius:15px;border:1px solid #fff;color:#fff}
footer .family_site .family_list{display:none;position:absolute;right:0;bottom:100%;border:1px solid #dbdbdb;border-radius:15px;background:#333}
footer .family_site .family_list li{border-bottom:1px dashed #dbdbdb;}
footer .family_site .family_list li:last-child{border-bottom:0 none}
footer .family_site .family_list li a{display:block;padding:10px 15px;color:#fff;}

@media screen and (max-width:1200px){
	.inner{padding:0 10px}
}

@media screen and (max-width:1024px){
	.floating_sns{display:none}
}

@media screen and (max-width:768px){
	body{font-size:12px}

	.inner{max-width:100%;padding:0 10px;}
	[data-device="pc"]{display:none !important}
	[data-device="mo"]{display:block !important}

	.header .top_sch h1{width:88px}
	.header .top_sch .lang{display:none}
	.sub_tit{margin-bottom:30px}

	
	.gnb .inner{display:block}
	.gnb .btn_gnb{position:absolute;right:0;top:0;width:60px;height:60px;background:red;}
	.gnb .dep1_list > li{position:static;width:25%}
	.gnb .dep1_list > li > a{height:38px}
	.gnb .dep2_list{top:38px;width:100%}

	.nav_mo{display:none;position:fixed;right:-100%;top:0;z-index:1000;width:80%;height:100%;background:#fff;transition:right .4s;}
	.nav_mo:after{content:'';position:fixed;left:0;top:0;display:block;height:100%;background:rgba(0, 0, 0, .5)}
	.nav_mo.active{display:block;right:0;opacity:1;}
	.nav_mo .lang{display:flex;align-items:center;justify-content:center;padding:20px;}
	.nav_mo .lang a{flex-grow:1;flex-basis:0;text-align:center;}
	.nav_mo .util{display:flex;align-items:center;justify-content:center;padding:20px;}
	.nav_mo .util a{flex-grow:1;flex-basis:0;padding:10px;text-align:center;background:yellow}

	.nav_mo .link_list li a{display:block;padding:10px 20px;border-bottom:1px solid gray}
	.nav_mo .quick{display:flex;gap:10px;margin:10px 0}
	.nav_mo .quick li{width:25%}
	.nav_mo .quick li a{width:50px;height:50px;background:red;}
	.nav_mo .btn_close{position:absolute;right:20px;top:20px;}
	

	.menu_list{flex-direction:column;}
	.menu_list li{width:100%;padding-top:20px;border-right:0 none}

	.join_wrap .page_nav{padding:10px 20px;margin-bottom:20px}
	.join_wrap .page_nav h3{font-size:14px}
	.join_form{padding:0 15px}
	.join_form .input_field > label{width:70px}

	.join_complete h3{padding:0 10px}
	.join_complete .join_box{padding:20px 0;margin-top:20px;flex-direction:column;}
	.join_complete .join_box .join_info{padding:0 30px 20px;border-bottom:1px dashed #000;border-right:0 none}
	.join_complete .join_box .seed_info{padding:20px 30px 0;}

	.btn_confirm{padding:0 15px}

	.book_list_wrap .item{display:flex;width:100%;padding:20px;}
	.book_list_wrap .item .info{display:flex;width:100%;flex-direction:column;margin-top:0;padding:0 0 0 20px;border-top:0 none;text-align:left}
	.book_list_wrap .item .btns{display:flex;column-gap:10px;margin-top:auto;}
	.book_list_wrap .item .btns a{flex:1 1}

	.pagination ul{column-gap:5px}

	footer .nav{flex:1;min-width:auto;}
	footer .txt_box{padding:0 20px;text-align:center;}
	footer .family_site{padding-left:10px}
}

@media screen and (max-width:640px){

}