<!-- floating_sns -->
<aside class="floating_sns">
	<ul class="sns_list">
		<li><a href="#" target="_blank" data-i18n="sns.instagram"><!--인스타그램--></a></li>
		<li><a href="#" target="_blank" data-i18n="sns.naver"><!--네이버블로그--></a></li>
		<li><a href="#" target="_blank" data-i18n="sns.youtube"><!--유튜브--></a></li>
		<li><a href="#" target="_blank" data-i18n="sns.kakao"><!--카카오채널--></a></li>
		<li><a href="#" target="_blank" data-i18n="sns.call"><!--전화--></a></li>
	</ul>
</aside>
<!--// floating_sns -->