<!-- floating_sns -->
<aside class="floating_sns">
	<div class="floating_inner">
		<ul class="sns">
			<li><a href="javascript://" class="insta" target="_blank" data-i18n="sns.instagram"><!-- 인스타그램 바로가기 --></a></li>
			<li><a href="javascript://" class="naver" target="_blank" data-i18n="sns.naver"><!-- 네이버블로그 바로가기 --></a></li>
			<li><a href="javascript://" class="youtube" target="_blank" data-i18n="sns.youtube"><!-- 유튜브 바로가기 --></a></li>
			<li><a href="javascript://" class="kakao" target="_blank" data-i18n="sns.kakao"><!-- 카카오채널 바로가기 --></a></li>
			<li><a href="javascript://" class="call" target="_blank" data-i18n="sns.call"><!-- 전화 바로가기 --></a></li>
		</ul>
	</div>
</aside>
<!--// floating_sns -->