<!-- Footer -->
<footer>
	<div class="inner">
		<div class="top_area">
			<ul class="nav">
				<li><a href="company.html" data-i18n="footer.about"><!--회사소개--></a></li>
				<li><a href="privacy.html" data-i18n="footer.privacy"><!--개인정보처리방침--></a></li>
				<li><a href="terms.html" data-i18n="footer.terms"><!--이용약관--></a></li>
				<li><a href="location.html" data-i18n="footer.location"><!--오시는길--></a></li>
			</ul>
			<div class="family_site">
				<a href="javascript://" class="btn_family" data-i18n="footer.family-site"><!--FAMILY SITE--></a>
				<ul class="family_list">
					<li><a href="https://www.ssoclass.com" target="_blank" data-i18n="footer.site-ssoclass"><!--SSOCLASS--></a></li>
					<li><a href="javascript://" data-i18n="footer.site-see"><!--SEE--></a></li>
				</ul>
			</div>
		</div>
		<div class="info_box">
			<div class="txt" data-i18n="[html]footer.address">
				<!-- <p>
					<strong class="main_tit bar">씨드러닝</strong>
					<span>(주)대표이사 : 강기철,이재영</span>
				</p>
				<p>
					<span>(13616) 경기도 성남시 분당구 정자일로 1, C동 1813호</span>
					<span>(금곡동, 코오롱트리폴리스1)</span>
				</p>
				<p>
					<span class="bar mo_bar">Tel : 070-7522-7404</span>
					<span class="bar">Fax : 070-8289-7404</span>
					<span>E-mail : manager@seed-learning.com</span>
				</p>
				<p>
					<span class="bar">사업자 등록번호 : 220-87-33426</span>
					<span>통신판매업신고 : 제2015-경기성남-1064호</span>
				</p> -->
			</div>
			<p class="copy" data-i18n="footer.copyright"><!--&copy; Seed-Learning, Inc. All Rights Reserved--></p>
		</div>
	</div>
</footer>
<!-- 퍼블용 -->
<script>
	$(function(){
		$('.family_site .btn_family').on('click', function(){
			$(this).toggleClass('active');
			$(this).next('.family_list').toggle();
		});
	});
</script>
<!--// 퍼블용 -->
<!--// Footer -->