<!-- Footer -->
<footer>
	<div class="inner">
		<div class="top_area">
			<ul class="nav">
				<li><a href="#" data-i18n="footer.about"><!--회사소개--></a></li>
				<li><a href="#" data-i18n="footer.privacy"><!--개인정보처리방침--></a></li>
				<li><a href="#" data-i18n="footer.terms"><!--이용약관--></a></li>
				<li><a href="#" data-i18n="footer.ocation"><!--오시는길--></a></li>
			</ul>
			<div class="family_site">
				<a href="javascript://" class="btn_family" data-i18n="footer.family-site"><!--FAMILY SITE--></a>
				<ul class="family_list">
					<li><a href="#" data-i18n="footer.site-ssoclass"><!--SSOCLASs--></a></li>
					<li><a href="#" data-i18n="footer.site-see"><!--SEE--></a></li>
				</ul>
			</div>
		</div>
		<div>
			<p></p>
			<p class="copy" data-i18n="footer.copyright"><!--&copy; Seed-Learning, Inc. All Rights Reserved--></p>
		</div>
	</div>
</footer>
<!--// Footer -->