<!-- Header -->
<header class="header">
	<div class="top_sch">
		<h1><a href="#"><img src="inc/images/logo.png" data-i18n="[alt]header.logo"></a></h1>
		<div class="search_box">
			<input type="text" name="schKeyword" id="schKeyword" data-i18n="[placeholder]header.search-ph"><!-- 교재/자료명을 입력해주세요. -->
			<a href="javascript://" class="btn_search" data-i18n="header.search"><!--검색--></a>
		</div>
		<ul class="lang" data-device="pc">
			<li><a href="#" class="active" data-i18n="header.lang-kor"><!--KOR--></a></li>
			<li><a href="#" data-i18n="header.lang-eng"><!--ENG--></a></li>
		</ul>
		<button type="button" onclick="javascript:gnbOpenMo();" class="btn_gnb" data-device="mo" data-i18n="header.gnb-toggle"><!--GNB여닫기--></button>
	</div>
	<nav class="gnb">
		<div class="gnb_inner">
			<button type="button" onclick="javascript:gnbTogglePc();" class="btn_gnb" data-device="pc" data-i18n="header.gnb-toggle"><!--GNB여닫기--></button>
			<ul class="dep1_list">
				<li><a href="javascript://" data-i18n="header.book-intro.tit"><!--교재 소개--></a>
					<div class="dep2_list">
						<ul>
							<li><a href="#" data-i18n="header.book-intro.phonics"><!--Phonics--></a></li>
							<li><a href="#" data-i18n="header.book-intro.coursebook"><!--Course Book--></a></li>
							<li><a href="#" data-i18n="header.book-intro.reading"><!--Reading--></a></li>
							<li><a href="#" data-i18n="header.book-intro.readers"><!--Readers--></a></li>
							<li><a href="#" data-i18n="header.book-intro.listening"><!--Listening--></a></li>
							<li><a href="#" data-i18n="header.book-intro.writing"><!--Writing--></a></li>
							<li><a href="#" data-i18n="header.book-intro.vocabulary"><!--Vocabulary--></a></li>
							<li><a href="#" data-i18n="header.book-intro.grammar"><!--Grammar--></a></li>
							<li><a href="#" data-i18n="header.book-intro.testprep"><!--Test Prep--></a></li>
						</ul>
					</div>
				</li>
				<li><a href="#" data-i18n="header.book-data"><!--학습/수업 자료--></a></li>
				<li><a href="javascript://" data-i18n="header.online-service"><!--온라인 서비스--></a>
					<div class="dep2_list">
						<ul><li><a href="#" data-i18n="header.sunshine-reading"><!--선샤인리딩클럽--></a></li></ul>
					</div>
				</li>
				<li><a href="javascript://" data-i18n="header.customer"><!--고객센터--></a>
					<div class="dep2_list">
						<ul>
							<li><a href="#" data-i18n="header.notice"><!--공지사항--></a></li>
							<li><a href="#" data-i18n="header.faq"><!--자주하는 질문--></a></li>
							<li><a href="#" data-i18n="header.qna"><!--1:1문의--></a></li>
							<li><a href="#" data-i18n="header.guide"><!--구매안내--></a></li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="util" data-device="pc">
				<a href="#" data-i18n="header.login"><!--로그인--></a>
				<a href="#" data-i18n="header.join"><!--회원가입--></a>
			</div>
		</div>
	</nav>
	<nav class="nav_mo" data-device="mo">
		<ul class="lang">
			<li><a href="#" data-i18n="header.lang-kor"><!--KOR--></a></li>
			<li><a href="#" class="active" data-i18n="header.lang-eng"><!--ENG--></a></li>
		</ul>
		<div class="util">
			<a href="#" data-i18n="header.login"><!--로그인--></a>
			<a href="#" data-i18n="header.join"><!--회원가입--></a>
		</div>
		<ul class="link_list">
			<li class="active"><a href="#" data-i18n="header.book-intro.phonics"><!--Phonics--></a></li>
			<li><a href="#" data-i18n="header.book-intro.coursebook"><!--Course Book--></a></li>
			<li><a href="#" data-i18n="header.book-intro.reading"><!--Reading--></a></li>
			<li><a href="#" data-i18n="header.book-intro.readers"><!--Readers--></a></li>
			<li><a href="#" data-i18n="header.book-intro.listening"><!--Listening--></a></li>
			<li><a href="#" data-i18n="header.book-intro.writing"><!--Writing--></a></li>
			<li><a href="#" data-i18n="header.book-intro.vocabulary"><!--Vocabulary--></a></li>
			<li><a href="#" data-i18n="header.book-intro.grammar"><!--Grammar--></a></li>
			<li><a href="#" data-i18n="header.book-intro.testprep"><!--Test Prep--></a></li>
		</ul>
		<ul class="sns_list">
			<li><a href="#" class="insta" target="_blank" data-i18n="sns.instagram"><!--인스타그램--></a></li>
			<li><a href="#" class="naver" target="_blank" data-i18n="sns.naver"><!--네이버블로그--></a></li>
			<li><a href="#" class="youtube" target="_blank" data-i18n="sns.youtube"><!--유튜브--></a></li>
			<li><a href="#" class="kakao" target="_blank" data-i18n="sns.kakao"><!--카카오채널--></a></li>
			<li><a href="#" class="call" target="_blank" data-i18n="sns.call"><!--전화--></a></li>
		</ul>
		<button type="button" onclick="gnbCloseMo();" class="btn_close" data-i18n="header.gnb-close"><!--GNB닫기--></button>
	</nav>
</header>
<!--// Header -->
<!-- 퍼블용 -->
<script>
function gnbTogglePc(){
	$('.gnb').toggleClass('active');
	$('.gnb .dep2_list').toggle();
	$('.gnb .btn_gnb').toggleClass('active');
}

function gnbOpenMo(){
	$('.nav_mo').addClass('active');
}

function gnbCloseMo(){
	$('.nav_mo').removeClass('active');
}

function gnbOverPc(){
	if($('.gnb.active').length==0){
		$('.gnb .dep1_list > li').mouseover(function(){
			$(this).addClass('active');
			$(this).find('.dep2_list').addClass('active');
		});
		$('.gnb .dep1_list > li').mouseleave(function(){
			$(this).removeClass('active');
			$('.gnb .dep2_list').removeClass('active');
		});
	}
}

function gnbMo(){
	$('.gnb .dep1_list li a').on('click', function(){
		$('.gnb .dep2_list').removeClass('active');
		$(this).next('.dep2_list').addClass('active');
	});
}

$(function(){
	const lang = "en";
  	$.i18n.init({
    	load : 'unspecific',
      	lng : lang,
      	fallbackLng : 'en',
      	resGetPath : '/inc/js/messages-ko.json',
      	useDataAttrOptions : true,
  	}, function(err, t) {
		//console.log(err);
      	//console.log(t);
		//i18n = t;
		
		i18n = $.i18n.t;

		$('html').i18n();
  	});

	if(matchMedia("screen and (min-width:768px)").matches) {
		gnbOverPc();
	}

	$(window).resize(function() {
		if(matchMedia("screen and (min-width:768px)").matches){
			gnbOverPc();
		}else{
			//gnbOverPc();
			$('.gnb, .gnb .dep1_list > li').off('mouseover mouseleave');
			gnbMo();
		}
	}).trigger("resize");
});

</script>
<!--// 퍼블용 -->